<div class="content-top">
    <div class="content-top__i">
        <h1 class="title">Стань чемпионом лиги</h1>
        <p class="sub-title">Вместе с Хамесом нашим Родригесом</p>
        <div class="rewards">
            <div class="rewards__i ">
                <span class="rewards__img rewards__img--1"></span>
                <p class="rewards__txt">Best Affiliate
                    Program 2016</p>
            </div>
            <div class="rewards__i">
                <span class="rewards__img rewards__img--2"></span>
                <p class="rewards__txt">The Best Mobile App 2016</p>
            </div>
            <div class="rewards__i">
                <span class="rewards__img rewards__img--3"></span>
                <p class="rewards__txt">World Finance 2012</p>
            </div>
        </div>
        {% include "./_form.html" %}
    </div>
</div>
