<form name="form" class="form">
    <div class="form__i">
        <div class="input-box">
            <input type="text" name="name" class="input" placeholder="Имя" required pattern="[a-zA-ZА-Яа-яЁё\s]+">
        </div>
        <div class="input-box">
            <input type="text" class="input" placeholder="Фамилия" required pattern="[a-zA-ZА-Яа-яЁё\s]+">
        </div>
        <div class="input-box">
            <input type="tel" class="input" placeholder="+382" required pattern="^[0-9-+s()]*$">
        </div>
        <div class="input-box">
            <input type="email" class="input" placeholder="Эл. почта" required>
        </div>
    </div>
    <button type="submit" name="submitButton" class="button">Порвать всех!</button>
</form>