<div class="table-block">
    <h2 class="table-block__title">Турнирная таблица</h2>
    <div class="table-wrap">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th class="current"><span>#</span></th>
                    <th><span>Объем депозита</span></th>
                    <th><span>Номер счёта</span></th>
                    <th><span>Страна</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-value="1">
                        <span class="table__num"><i>1</i></span>
                    </td>
                    <td data-value="5321"><span>$5 321</span></td>
                    <td data-value="123456000">123 456 000</td>
                    <td data-value="1"><i class="flag ru"></i></td>
                </tr>
                <tr>
                    <td data-value="2"><span class="table__num"><i>2</i></span></td>
                    <td data-value="3000"><span>$3 000</span></td>
                    <td data-value="425238238">425 238 238</td>
                    <td data-value="2"><i class="flag es"></i></td>
                </tr>
                <tr>
                    <td data-value="3"><span class="table__num"><i>3</i></span></td>
                    <td data-value="890"><span>$890</span></td>
                    <td data-value="123543548">123 543 548</td>
                    <td data-value="3"><i class="flag cn"></i></td>
                </tr>
                <tr>
                    <td data-value="4"><span class="table__num"><i>4</i></span></td>
                    <td data-value="777"><span>$777</span></td>
                    <td data-value="090235453">090 235 453</td>
                    <td data-value="1"><i class="flag ru"></i></td>
                </tr>
                <tr>
                    <td data-value="5"><span class="table__num"><i>5</i></span></td>
                    <td data-value="666"><span>$666</span></td>
                    <td data-value="009281443">009 281 443</td>
                    <td data-value="2"><i class="flag es"></i></td>
                </tr>
                <tr>
                    <td data-value="6"><span class="table__num"><i>6</i></span></td>
                    <td data-value="555"><span>$555</span></td>
                    <td data-value="515654522">515 654 522</td>
                    <td data-value="3"><i class="flag cn"></i></td>
                </tr>
                <tr>
                    <td data-value="7"><span class="table__num"><i>7</i></span></td>
                    <td data-value="444"><span>$444</span></td>
                    <td data-value="765452241">765 452 241</td>
                    <td data-value="1"><i class="flag ru"></i></td>
                </tr>
                <tr>
                    <td data-value="8"><span class="table__num"><i>8</i></span></td>
                    <td data-value="333"><span>$333</span></td>
                    <td data-value="562183816">562 183 816</td>
                    <td data-value="2"><i class="flag es"></i></td>
                </tr>
                <tr>
                    <td data-value="9"><span class="table__num"><i>9</i></span></td>
                    <td data-value="222"><span>$222</span></td>
                    <td data-value="642452555">642 452 555</td>
                    <td data-value="3"><i class="flag cn"></i></td>
                </tr>
                <tr>
                    <td data-value="10"><span class="table__num"><i>10</i></span></td>
                    <td data-value="111"><span>$111</span></td>
                    <td data-value="212552112">212 552 112</td>
                    <td data-value="1"><i class="flag ru"></i></td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="button">Порвать всех!</button>
    </div>
</div>